version: "3"

services:
  deemix:
    container_name: deemix
    environment:
      - PUID=1000
      - PGID=1000
    hostname: deemix
    image: registry.gitlab.com/bockiii/deemix-docker:latest
    restart: unless-stopped
    ports:
      - 6595:6595
    expose:
      - 6595
    volumes:
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/deemix/config:/config
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/deemix/downloads:/downloads
    #networks:
    #  - proxy
    #labels:
    #  - traefik.enable=true
    #  - traefik.docker.network=proxy
    #  - traefik.http.routers.deemix.rule=Host(`deemix.example.com`)
    #  - traefik.http.services.deemix.loadbalancer.server.port=6595
    #  # Optional part for traefik middlewares
    #  - traefik.http.routers.deemix.middlewares=local-ipwhitelist@file,authelia@docker

#networks:
#  proxy:
#    external: true
