version: '3.6'

services:
  flame:
    image: pawelmalak/flame
    container_name: flame
    volumes:
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/flame:/app/data
      #- /var/run/docker.sock:/var/run/docker.sock # optional but required for Docker integration
    ports:
      - 5005:5005
    environment:
      - PASSWORD=MyStrongLoginPassword
    restart: unless-stopped
