# Domain and URL Configuration
DOMAIN_NAME=demo.rybbit.com
BASE_URL="https://${DOMAIN_NAME}"

# Authentication and Security
BETTER_AUTH_SECRET=insecure-secret
DISABLE_SIGNUP=false
DISABLE_TELEMETRY=true

# Webserver Configuration
# Set to false to disable the built-in Caddy webserver
USE_WEBSERVER=true

# ClickHouse Database Configuration
CLICKHOUSE_DB=analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=frog

# PostgreSQL Database Configuration
POSTGRES_DB=analytics
POSTGRES_USER=frog
POSTGRES_PASSWORD=frog

# External Service Tokens (optional)
MAPBOX_TOKEN=
