version: '3.3'
services:
    flaresolverr:
        container_name: flaresolverr
        ports:
            - '8191:8191'
        environment:
            - LOG_LEVEL=info
        restart: unless-stopped
        image: 'ghcr.io/flaresolverr/flaresolverr:latest'