services:

  duplicacy-web:
    image: saspus/duplicacy-web:mini    
    container_name: duplicacy-web
    hostname: myhost # pls adjust
    environment:
      - USR_ID=1000 # user account id on the system
      - GRP_ID=1000 # group id on the system
      - TZ=Europe/Berlin
      - DUPLICACY_WEB_VERSION=latest
    ports:
      - "3875:3875/tcp"
    expose:
      - 3875
    volumes:
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/duplicacy-web/config:/config
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/duplicacy-web/logs:/logs
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/duplicacy-web/cache:/cache
      - /path/to/my/data/dir1:/data/dir1:ro # 1st path to your data for backup
      - /path/to/my/data/dir2:/data/dir2:ro # 2nd path to your data for backup
    #networks:
    #  - proxy
    #labels:
    #  - com.centurylinklabs.watchtower.enable=false
    #  - traefik.enable=true
    #  - traefik.http.routers.duplicacy.rule=Host(`duplicacy.example.com`)
    #  - traefik.http.services.duplicacy.loadbalancer.server.port=3875
    #  - traefik.docker.network=proxy
    #  # Part for local lan services only
    #  - traefik.http.routers.duplicacy.middlewares=local-ipwhitelist@file

#networks:
#  proxy:
#     external: true
