version: '3.5'

services:
  youtrack:
    image: jetbrains/youtrack:2022.3.65373
    container_name: youtrack
    hostname: youtrack
    user: 13001:13001 # this is the default UID:GUID; see https://hub.docker.com/r/jetbrains/youtrack/
    restart: unless-stopped
    ports:
      - 8080:8080 # web ui
    volumes:
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/youtrack/data:/opt/youtrack/data
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/youtrack/conf:/opt/youtrack/conf
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/youtrack/logs:/opt/youtrack/logs
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/youtrack/backups:/opt/youtrack/backups
    #networks:
    #  - proxy
    deploy:
      placement:
        constraints:
          - node.labels.youtrack.data == true
    #labels:
      #  - traefik.enable=true
      #  - traefik.docker.network=proxy
      #  - traefik.http.routers.youtrack.rule=Host(`projects.example.com`)
      #  - traefik.http.services.youtrack.loadbalancer.server.port=8080
      #  # Part for local lan services only; disable to expose externally
      #  - traefik.http.routers.youtrack.middlewares=local-ipwhitelist@file

#networks:
#  proxy:
#    external: true
