services:

  transfer:
    image: dutchcoders/transfer.sh:latest-noroot
    container_name: transfer
    hostname: transfer
    restart: unless-stopped
    ports:
      - 8080:8080/tcp
    expose:
      - 8080
    volumes:
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/transfer:/tmp
    command:
      - --provider=local
      - --basedir=/tmp/
    #networks:
    #  - proxy
    #labels:
    #  - traefik.enable=true
    #  - traefik.docker.network=proxy    
    #  - traefik.http.routers.transfer.rule=Host(`transfer.example.com`)
    #  - traefik.http.services.transfer.loadbalancer.server.port=8080
    #  - traefik.http.middlewares.limit-transfersh.buffering.maxRequestBodyBytes=50000000 # optional, only necessary for enabled file uploads
    #  - traefik.http.middlewares.limit-transfersh.buffering.maxResponseBodyBytes=50000000 # optional, only necessary for enabled file uploads
    #  - traefik.http.middlewares.limit-transfersh.buffering.memRequestBodyBytes=50000000 # optional, only necessary for enabled file uploads
    #  - traefik.http.middlewares.limit-transfersh.buffering.memResponseBodyBytes=50000000 # optional, only necessary for enabled file uploads    
    #  # Part for optional traefik middlewares
    #  - traefik.http.routers.transfer.middlewares=limit-transfersh

#networks:
#  proxy:
#    external: true
