version: "3"

services:
  answer:
    container_name: answer
    image: answerdev/answer
    ports:
      - '9080:80'
    restart: unless-stopped
    volumes:
      - ${DOCKER_VOLUME_STORAGE:-/mnt/docker-volumes}/answer/data:/data
    #networks:
    #  - proxy
    #labels:
    #  - traefik.enable=true
    #  - traefik.docker.network=proxy
    #  - traefik.http.routers.answer.rule=Host(`faq.example.com`)
    #  - traefik.http.services.answer.loadbalancer.server.port=80
    #  # Optional part for file upload max sizes
    #  - traefik.http.middlewares.limit.buffering.maxRequestBodyBytes=50000000
    #  - traefik.http.middlewares.limit.buffering.maxResponseBodyBytes=50000000
    #  - traefik.http.middlewares.limit.buffering.memRequestBodyBytes=50000000
    #  - traefik.http.middlewares.limit.buffering.memResponseBodyBytes=50000000
    #  # Optional part for traefik middlewares
    #  - traefik.http.routers.answer.middlewares=local-ipwhitelist@file,authelia@docker

#networks:
#  proxy:
#    external: true
