services:

  web-server:
    #build: web-server
    image: l4rm4nd/transferzip:web-server
    hostname: web-server
    container_name: transferzip-web
    restart: unless-stopped
    ports:
      - 9001:80    
    expose:
      - 80
    depends_on:
      - signaling-server
    #networks:
    #  - proxy
    #labels:
    #  - traefik.enable=true
    #  - traefik.docker.network=proxy    
    #  - traefik.http.routers.transferzip.rule=Host(`transfer.example.com`)
    #  - traefik.http.services.transferzip.loadbalancer.server.port=80
    #  - traefik.http.middlewares.limit-transferzip.buffering.maxRequestBodyBytes=50000000 # optional, only necessary for enabled file uploads
    #  - traefik.http.middlewares.limit-transferzip.buffering.maxResponseBodyBytes=50000000 # optional, only necessary for enabled file uploads
    #  - traefik.http.middlewares.limit-transferzip.buffering.memRequestBodyBytes=50000000 # optional, only necessary for enabled file uploads
    #  - traefik.http.middlewares.limit-transferzip.buffering.memResponseBodyBytes=50000000 # optional, only necessary for enabled file uploads    
    #  # Part for optional traefik middlewares
    #  - traefik.http.routers.transferzip.middlewares=limit-transferzip   

  signaling-server:
    #build: signaling-server
    image: l4rm4nd/transferzip:signaling-server
    container_name: transferzip-signaling
    hostname: signaling-server    
    restart: unless-stopped
    #networks:
    #  - proxy

#networks:
#  proxy:
#    external: true    
